/* VARIABLES */
:root {
  --color-blue: #2e94fa;
  --color-black: #282830;
  --color-green: #32ce85;
  --color-orange: #ff7045;
}
/* VARIABLES */

body {
  font-family: 'Raleway', sans-serif;
}

/* START : header */
.header {
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__image {
  width: 100px;
}

.header__link {
  padding: 12px 20px;
  border-radius: 9px;
  font-weight: 600;
}

.header__link--blue {
  background-color: var(--color-blue);
  color: #ffffff;
}

.header__link--grey {
  background-color: #f4f4f4;
  color: var(--color-blue);
}

/* 450px =  mobile */
@media screen and (max-width: 450px) {
  .header__link--blue {
    display: none;
  }
}

/* 800px =  mobile */
@media screen and (max-width: 800px) {
  .header__link--blue {
    display: none;
  }
}
/* END : header */

/* START : flux */
.flux {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1300px) {
  .flux {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1100px) {
  .flux {
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
  }
}

@media screen and (max-width: 450px) {
  .flux {
    margin-left: 25px;
    margin-right: 25px;
  }
}

/* END : flux */

/* START : texts */
.t-title {
  font-size: 40px;
  color: var(--color-black);
}

.t-title strong {
  color: var(--color-green);
}

.t-link {
 color: var(--color-blue);
 font-weight: 600;
}
/* END : texts */

/* START : hero */
.hero {
  background-color: #86e8b5;
  padding-top: 120px;
  padding-bottom: 50px;
  position: relative;
}

.hero__flux {
  display: flex;
  position: relative;
  z-index: 1;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0; 
}

.hero__container-texts, .hero__container-images {
  width: 50%;
}

.hero__container-texts {
  padding-right: 10%;
}

.hero__title {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 25px;
  color: var(--color-black);
}

.hero__introduction {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 150px;
  color: var(--color-black);
}

.hero__container-images {
  position: relative;
}

.hero__image {
  position: absolute;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.hero__image:first-child {
  right: 0;
  bottom: 0;
  width: 95%;
  height: auto;
}

.hero__image:first-child:hover {
  transform-origin: bottom right;
  transform: scale(1.1) rotate(5deg) translateX(50px);
}

.hero__image:last-child {
  height: 90%;
  width: auto;
}

.hero__image:last-child:hover {
  transform-origin: bottom left;
  transform: scale(1.1) rotate(-5deg) translateX(-25px);
}

/* 800px = tablette portrait */
@media screen and (max-width: 1100px) {

  .hero__flux {
    flex-direction: column;
  }

  .hero__container-texts {
    width: 100%;
    padding-right: 30%;
  }

  .hero__introduction {
    margin-bottom: 50px;
  }

  .hero__container-images {
    height: 450px;
    width: 500px;
    align-self: center;
  }
}

@media screen and (max-width: 700px) {
  .hero__container-images,
  .hero__video {
    display: none;
  }

  .hero {
    background-color: #fff;
  }

  .hero__container-texts {
    padding-right: 0;
  }

  .hero__title {
    font-size: 40px;
  }
}

/* 450px =  mobile 
@media screen and (max-width: 450px) {

  .hero {
    background-color: #fff;
  }

  .hero__video {
    display: none;
  }

  .hero__container-images {
    display: none;
  }
}  */

/* END : hero */

/* START : offers */
.offers {
  padding-top: 60px;
  padding-bottom: 100px;
}

.offers__title {
  margin-bottom: 24px;
}

.offers__list {
  display: flex;
  justify-content: space-between;
}

.card-offer {
  width: 23%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 2px 20px 0px #4647540F;
  background-color: white;
}

.card-offer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 102px;
  padding: 12px;
  background: #F0F3FF;
}

.card-offer__left {
  display: flex;
  align-items: center;
}

.card-offer__icon {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.card-offer__title {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #221db2;
}

.card-offer__arrow {
  width: 24px;
}

.card-offer__description {
  padding: 12px;
  font-size: 14px;
  line-height: 1.4rem;
  font-weight: 600;
  color: #464754;
}

@media screen and (max-width: 1100px) {
  .offers__title {
    width: 70%;
  }

  .offers__list {
    flex-wrap: wrap;
  }

  .card-offer {
    width: 48%;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 700px) {
  .offers__title {
    width: 100%;
  }

  .card-offer {
    width: 100%;
  }
}
/* END : offers */

/* START : services */
.services__title {
  width: 75%;
  margin-bottom: 50px;
}

.bloc-services {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.bloc-services:nth-child(even) {
  flex-direction: row-reverse;
}

.bloc-services:nth-child(even) .bloc-services__container-texts {
  padding-left: 2.5%;
}

.bloc-services:nth-child(odd) .bloc-services__container-texts {
  padding-right: 5%;
}

.bloc-services__container-texts,
.bloc-services__image {
  width: 50%;
}

.bloc-services__title {
  font-size: 30px;
  color: var(--color-black);
  margin-bottom: 25px;
}

.bloc-services__title span {
  color: var(--color-orange);
}

.bloc-services__description {
  margin-bottom: 15px;
  font-weight: 600;
}

.bloc-services__image {
  border-radius: 15px;
}

@media screen and (max-width: 1100px) {
  .bloc-services,
  .bloc-services:nth-child(even) {
    flex-direction: column;
  }

  .bloc-services__container-texts,
  .bloc-services__image {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .services__title {
    width: 100%;
    text-align: center;
  }
}
/* END : services */

/* START : testimonies */

.testimonies__title {
  margin-bottom: 60px;
}

.testimonies__container {
  position: relative;
}

.testimonies__video  {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  bottom: 0;
  /* margin-top: 60px; */
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.testimonies__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* Card user */

.card-user {
  width: 31%;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 20px 0px #4647540F;
}

.card-user__top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-user__avatar {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  object-fit: cover; /* <- Permet de garder le ratio de l'image */ 
  object-position: top center; /* <- Permet de positioner l'image */ 
  border: solid 5px var(--color-green);
}

.card-user__informations {
  margin-left: 10px;
  
}

.card-user__name {
  font-weight: 600;
  margin-bottom: 5px;
}

.card-user__job {
  margin-bottom: 5px;
}

.card-user__key-points {
  color: grey;
}

.card-user__quote {
  line-height: 1.5rem;
}