/* VARIABLES */
:root {
  --color-blue: #2e94fa;
  --color-anthracite: #282830;
  --color-purple: #5c59f3;
  --color-darkpurple: #221DB2;
  --color-lightpurple: #8c99fa;
  --color-grey: #f0f3ff;
}
/* VARIABLES */

body {
  font-family: 'Raleway', sans-serif;
}

/* START : header */
.header {
  /* background-color: rgba(255, 255, 255, 0.6); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: all 0.2s ease-out 0s;
}

header.scroll {
  background-color: white;
  box-shadow: 0 12px 12px -10px #2828301a;
}

.header__logo {
  width: 100px;
  cursor: pointer;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__container-burger {
  margin-right: 16px;
}

.header__burger {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 6px;
  width: 40px;
  height: 40px;
  border-radius: 16px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: 0px 1px 4px 0px #4647540F;
}

.header__burger-icon {
  width: 24px;
  height: 24px;
  filter: brightness(0) saturate(100%) invert(31%) sepia(99%) saturate(2964%) hue-rotate(232deg) brightness(100%) contrast(91%);
}

.header__burger:hover {
  .header__burger-icon {
    filter: brightness(0) saturate(100%) invert(10%) sepia(74%) saturate(5225%) hue-rotate(241deg) brightness(99%) contrast(99%);
  }
}

.header__list-link {
  display: flex;
  align-items: center;
  gap: 16px;
  transition: all 0.12s ease-out 0s;
}

.header__container-link, .header__container-button {
  display: flex;
  gap: 10px;
}

.header__container-link {
  border-radius: 14px;
  transition: all 0.12s ease-out 0s;
}

.header__arrow {
  filter: brightness(0) saturate(100%) invert(13%) sepia(6%) saturate(1576%) hue-rotate(201deg) brightness(90%) contrast(89%);
  width: 16px;
  height: 16px;
}

.header__dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-anthracite);
  padding: 8px 16px;
  border-radius: 14px;
  font-weight: 700;
}

.header__container-link:hover, .header__dropdown:hover {
  background-color: rgb(240, 243, 255);
  color: var(--color-purple);
}

.header__dropdown:hover .header__arrow {
  filter: brightness(0) saturate(100%) invert(32%) sepia(100%) saturate(1008%) hue-rotate(220deg) brightness(95%) contrast(102%);
}

@media screen and (max-width: 600px) {
  .header__container-button .button__no-bg {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .header__container-button .button__white {
    display: none;
  }

  .header__container-button .button__no-bg {
    margin-right: 0;
  }
}

@media screen and (max-width: 1250px) {
  .header__list-link {
    opacity: 0;
    position: fixed;
    top: 70px;
    left: 0;
    padding-bottom: 10px;
    /* background-color: #fff; */
    justify-content: space-around;
    width: 100%;
  }

  .header__nav.active .header__list-link {
    opacity: 1;
  }

  .header__list-link.scroll {
    background-color: white;
    box-shadow: 0 12px 12px -10px #2828301a;
  }
}

@media screen and (min-width: 1250px) {
  .header__burger,
  .header__burger-icon{
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .header__list-link {
    flex-direction: column;
  }
}
/* END : header */

/* START : button */
.b-style {
  padding: 15px 18px;
  border-radius: 14px;
  font-weight: 700;
  transition: all 0.12s ease-out 0s;
}

.button__white {
  background-color: var(--color-purple);
  color: #ffffff;
}

.button__no-bg {
  margin-right: 16px;
  color: var(--color-purple);
}

.button__purple {
  background-color: #ffffff;
  color: var(--color-purple);
  box-shadow: rgba(70, 71, 84, 0.06) 0px 1px 4px 0px;
}

.button__white:hover {
  background-color: var(--color-darkpurple);
  transform: scale(1.03);
}

.button__no-bg:hover {
  color: var(--color-darkpurple);
  transform: scale(1.03);
  background-color: rgb(240, 243, 255);
}

.button__purple:hover {
  transform: scale(1.03);
  color: var(--color-darkpurple);
}

.b-title {
  background-color: var(--color-grey);
  padding: 4px 12px;
  border-radius: 10px;
  font-size: 18px;
  color: var(--color-darkpurple);
}
/* END : button */

/* START : flux */
.flux {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1300px) {
  .flux {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1100px) {
  .flux {
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
  }
}

@media screen and (max-width: 450px) {
  .flux {
    margin-left: 25px;
    margin-right: 25px;
  }
}
/* END : flux */

/* START : texts */
.t-title {
  color: var(--color-anthracite);
}

.tb-title {
  font-size: 40px;
}

.tm-title {
  font-size: 32px;
}

.ts-title {
  font-size: 24px;
  line-height: 32px;
}

.t-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  color: #464754;
}

.t-link {
  color: var(--color-purple);
  font-weight: 700;
  transition: all 0.2s ease;
}

.t-link:hover {
  color: var(--color-lightpurple);
}

@media screen and (max-width: 850px) {
  .tb-title {
    font-size: 32px;
  }

  .tm-title {
    font-size: 28px;
  }
}
/* END : texts */

/* START : hero */
.hero {
  background: linear-gradient(132.64deg, #EBF5FF 3.85%, #FFF3FC 100.01%);
  padding-top: 120px;
  padding-bottom: 100px;
  position: relative;
}

.hero__background {
  position: absolute;
  top: 15%;
  left: -15%;
  width: 30%;
  transform: rotate(100deg);
}

.hero__flux {
  display: flex;
}

.hero__container-texts, .hero__container-images {
  width: 50%;
}

.hero__container-texts {
  padding-left: 9%;
}

.hero__title {
  margin-bottom: 5px;
  font-size: 60px;
  font-weight: 800;
  color: black;
}

.hero__title strong {
  font-size: 60px;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #ffc38d;
  text-decoration-thickness: 4px;
}

.hero__title-heart {
  width: 35px;
  transform: rotate(20deg);
}

.hero__introduction {
  margin-bottom: 50px;
}

.hero__container-button {
  display: flex;
  gap: 24px;
  margin-bottom: 50px;
}

.hero__image {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1300px) {
  .hero__container-images {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1101px) {
  .hero__image:hover {
    transform-origin: bottom right;
    transform: scale(1.1) rotate(5deg) translateX(50px);
  }
}

@media screen and (max-width: 1100px) {

  .hero__flux {
    flex-direction: column;
  }

  .hero__container-texts {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  .hero__introduction {
    margin-bottom: 30px;
  }
  
  .hero__container-button {
    justify-content: center;
  }

  .hero__container-images {
    width: 70%;
    align-self: center;
  }
}

@media screen and (max-width: 650px) {
  .hero__container-texts {
    padding-right: 0;
  }

  .hero__title,
  .hero__title strong {
    font-size: 40px;
  }

  .hero__title-heart {
    width: 23px;
  }

  .hero__container-button {
    flex-direction: column;
  }

  .hero__container-images {
    width: 100%;
    align-self: center;
  }
}
/* END : hero */

/* START : offers */
.offers {
  padding-top: 60px;
  padding-bottom: 100px;
}

.offers__title {
  margin-bottom: 24px;
}

.offers__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.offers__question {
  background-color: #fff3fc;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 12px;
}

.offers__emoji {
  width: 24px;
  margin-right: 10px;
}

.offers__inscription {
  font-weight: 600;
}

.card-offer {
  width: 23%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 2px 20px 0px #4647540F;
  background-color: white;
}

.card-offer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 102px;
  padding: 12px;
  background: var(--color-grey);
}

.card-offer__left {
  display: flex;
  align-items: center;
}

.card-offer__icon {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.card-offer__title {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-darkpurple);
}

.card-offer__arrow {
  width: 24px;
}

.card-offer__description {
  padding: 12px;
  font-size: 14px;
  line-height: 1.4rem;
  font-weight: 600;
  color: #464754;
}

.card-offer__description strong {
  font-weight: 800;
}

@media screen and (max-width: 1100px) {
  .offers__title {
    width: 70%;
  }

  .offers__list {
    flex-wrap: wrap;
  }

  .card-offer {
    width: 48%;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 700px) {
  .offers__title {
    width: 100%;
  }

  .card-offer {
    width: 100%;
  }
}
/* END : offers */

/* START : profit */
.profit__bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.profit__bloc:nth-child(odd) .profit__image{
  margin-right: 30px;
}

.profit__bloc:nth-child(even) .profit__image{
  margin-left: 30px;
}

.profit__bloc:nth-child(even) {
  flex-direction: row-reverse;
}

.profit__bloc:nth-child(even) .profit__container-texts {
  margin-left: 10%;
}

.profit__bloc:nth-child(odd) .profit__container-texts {
  padding-right: 10%;
}

.profit__container-texts,
.profit__image {
  width: 50%;
}

.profit__title {
  margin-bottom: 15px;
}

.profit__information {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 80%;
  padding-top: 60px;
}

.profit__quote {
  color: black;
  font-weight: 700;
}

.profit__icon {
  margin-right: 20px;
  width: 32px;
  height: 32px;
}

.profit__image {
  width: 35%;
}

@media screen and (max-width: 850px) {
  .profit__bloc {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .profit__container-texts {
    width: 100%;
  }

  .profit__bloc:nth-child(odd) .profit__container-texts {
    padding-right: 0;
  }

  .profit__bloc:nth-child(even) {
    flex-direction: column;
  }

  .profit__bloc:nth-child(even) .profit__container-texts {
    margin-left: 0;
  }

  .profit__container-texts {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .profit__information {
    padding-top: 15px;
    margin-bottom: 20px;
  }

  .profit__image {
    width: 60%;
  }

  .profit__bloc:nth-child(odd) .profit__image{
    margin-right: 0;
  }
  
  .profit__bloc:nth-child(even) .profit__image{
    margin-left: 0;
  }
}
/* END : profit */

/* START : data */
.data {
  position: relative;
}

.data__flux {
  margin-bottom: 120px;
}

.data__background {
  position: absolute;
  top: 10%;
  left: 0;
  height: 150%;
  width: 50%;
  z-index: -1;
  opacity: 0.8;
}

.data__title {
  width: 60%;
  margin-bottom: 45px;
}

.data__flex-content {
  display: flex;
}

.card-data__container,
.data__container-texts {
  width: 50%;
}

.card-data__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 45px;
  gap: 45px;
}

.card-data__container .card-data:nth-child(even) {
  align-self: flex-end;
}

.card-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  padding: 25px 12px;
  box-shadow: 0px 0px 12px rgba(70, 71, 84, 0.06);
  border-radius: 20px;
  background-color: #fff;
}

.card-data__title {
  padding-bottom: 15px;
  color: #8c99fa;
  font-size: 56px;
  font-weight: 700;
}

.card-data__information {
  text-align: center;
}

.data__container-texts {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
}

.data__button-title {
  margin: 75px auto 30px 0;
}

.data__info-title {
  padding-bottom: 5px;
}

.data__info-description {
  padding-bottom: 30px;
}

@media screen and (max-width: 1100px) {
  .data__title {
    width: 80%;
  }

  .data__container-texts {
    padding-right: 0;
  }
}

@media screen and (max-width: 850px) {
  .data__flux {
    margin-bottom: 70px;
  }

  .data__title {
    width: 100%;
  }

  .data__flex-content {
    flex-direction: column-reverse;
  }

  .data__button-title {
    margin: 0px auto 20px 0;
  }

  .data__container-texts {
    width: 100%;
  }

  .card-data__container {
    width: 70%;
  }

  .card-data__container {
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    padding: 0;
  }

  .card-data {
    width: 75%;
  }
}

@media screen and (max-width: 650px) {
  .card-data__container {
    width: 100%;
  }

  .card-data__container {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .card-data__container .card-data:nth-child(even) {
    align-self: center;
  }

  .card-data {
    width: 55%;
  }
}

@media screen and (max-width: 650px) {
  .card-data {
    width: 75%;
  }
}
/* END : data */

/* START : why-us */
.why-us__flex-content {
  display: flex;
  margin-bottom: 100px;
  align-items: center;
}

.why-us__container-texts,
.why-us__container-images {
  width: 50%;
}

.why-us__container-texts {
  display: flex;
  flex-direction: column;
  padding-right: 8%;
}

.why-us__button-title {
  margin: 0 auto 30px 0;
}

.why-us__info-title {
  padding-bottom: 5px;
}

.why-us__info-description {
  padding-bottom: 30px;
}

.why-us__container-images {
  display: flex;
  justify-content: center;
}

.why-us__image {
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1101px) {
  .why-us__image:hover {
    transform-origin: bottom right;
    transform: scale(1.1) rotate(-5deg) translateX(50px);
  }
}

@media screen and (max-width: 1000px) {
  .why-us__container-texts {
    width: 60%;
    padding-right: 0;
  }

  .why-us__container-images {
    width: auto;
  }

  .why-us__image {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .why-us__flex-content {
    flex-direction: column;
  }

  .why-us__container-texts {
    width: 100%;
    padding: 0;
  }

  .why-us__button-title {
    margin: 0px auto 20px 0;
  }
}
/* END : why-us */

/* START : testimonies */
.testimonies__title {
  padding-right: 41%;
  margin-bottom: 15px;
}

.testimonies__note {
  font-size: 24px;
  margin-bottom: 50px;
}

.cards-user__container {
  margin-bottom: 240px;
  display: flex;
  justify-content: space-between;
}

.card-user {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  background-color: #f5f8fe;
  padding: 32px 24px;
  width: 30%;
  border-radius: 16px;
}

.card-user__icon {
  position: absolute;
  top: -20px;
  width: 50px;
}

.card-user__quote {
  margin-bottom: 15px;
}

.card-user__link {
  margin-bottom: 15px;
}

.card-user__footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.card-user__informations {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.card-user__name {
  font-weight: 800;
}

.card-user__job {
  font-weight: 600;
  color: var(--color-anthracite);
}

.card-user__key-points {
  color: #82879c;
  font-weight: 600;
}

.card-user__avatar {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  object-fit: cover;
  object-position: top center;
}

@media screen and (max-width: 1100px) {
  .testimonies__title {
    padding-right: 10%;
    margin-bottom: 17px;
  }

  .cards-user__container {
    margin-bottom: 100px;
  }

  .card-user__avatar {
    width: 60px;
    height: 60px;
  }

}

@media screen and (max-width: 900px) {
  .testimonies__title {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .testimonies__note {
    font-size: 20px;
    margin-bottom: 60px;
  }

  .cards-user__container {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
  }

  .card-user {
    width: 70%;
    margin-bottom: 50px;
  }

}
/* END : testimonies */

/* START : health */
.health__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  position: relative;
}

.health__container-button {
  display: flex;
  gap: 25px;
  z-index: 1;
}

.health__button {
  box-shadow: rgba(70, 71, 84, 0.06) 0px 1px 4px 0px;
}

.health__marmot {
  margin-top: -100px;
  transition: all 0.15s ease-in-out;
}

.health__marmot:hover {
  transform-origin: bottom;
  transform: scale(1.03) translateY(-25px);
}

.health__background {
  position: absolute;
  bottom: 275px;
  background: radial-gradient(33.57% 67.61% at 41.67% -32.5%,
  rgba(153, 233, 204, 0.12) 0%, rgba(153, 233, 204, 0) 100%),
  radial-gradient(85.21% 78.82% at 94.59% -5.42%,
  rgba(131, 217, 226, 0.12) 0%, rgba(131, 217, 226, 0) 100%),
  radial-gradient(55.51% 51.34% at 0% 23.12%, rgba(138, 255, 187, 0.12) 0%,
  rgba(138, 255, 187, 0) 100%), radial-gradient(53.87% 42.92% at 50% 57.08%,
  rgba(139, 194, 255, 0.12) 0%, rgba(139, 194, 255, 0) 100%), #FFFFFF;
  transform: rotate(180deg);
  width: 100%;
  height: 65%;
  z-index: -1;
}

@media screen and (max-width: 650px) {
  .health__container-button {
    flex-direction: column;
    width: 80%;
    text-align: center;
  }

  .health__marmot {
    display: none;
    margin-top: 0;
  }

  .footer {
    margin-top: 0;
  }

  .health__background {
    bottom: -80px;
    height: 100%;
  }
}
/* END : health */

/* START : footer */
.footer {
  position: relative;
  background-color: var(--color-anthracite);
  padding-bottom: 75px;
  margin-top: -275px;
  z-index: 1;
}

.footer__logo {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(263deg) brightness(103%) contrast(101%);
  width: 120px;
  margin: 50px 0;
  cursor: pointer;
}

.footer__list {
  display: flex;
  justify-content: space-between;
}

.list__container {
  width: 22%;
}

.list__item {
  display: flex;
  margin-bottom: 2px;
}

.list__title,
.list__subtitle {
  color: #fff;
  font-weight: 700;
}

.list__title {
  margin-bottom: 5px;
}

.list__subtitle {
  margin-top: 20px;
  margin-bottom: 5px;
}

.list__link {
  color: #9da3ba;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  transition: all 0.08s ease-out 0s;
}

.list__link:hover {
  color: #fff;
}

.list__link--underline:hover {
  text-decoration: underline 2px;
}

.list__arrow {
  filter: brightness(0) saturate(100%) invert(53%) sepia(65%) saturate(7455%) hue-rotate(230deg) brightness(97%) contrast(96%);
  width: 16px;
}

.sublist__container {
  display: flex;
  gap: 10px;
}

.sublist__icon {
  margin-top: 24px;
  width: 24px;
  filter: brightness(0) saturate(100%) invert(85%) sepia(20%) saturate(198%) hue-rotate(186deg) brightness(96%) contrast(90%);
  transition: all 0.12s ease-out 0s;
}

.sublist__icon:hover {
  transform: scale(1.1);
}

.list__store-container {
  margin-top: 15px;
}

.list__store {
  height: 40px;
}

.footer__separator {
  margin: 50px 0;
}

.footer__legal {
  display: flex;
  justify-content: space-between;
}

.footer__alan-insurancy,
.footer__alan-website {
  width: 49%;
  color: #9da3ba;
  font-size: 12px;
  line-height: 1.4rem;
  font-weight: 600;
}

.footer__alan-link {
  color: var(--color-purple);
  font-weight: 700;
  transition: all 0.2s ease;
}

.footer__alan-link:hover {
  color: var(--color-lightpurple);
}

@media screen and (max-width: 650px) {
    .footer {
    margin-top: 80px;
  }

  .footer__logo {
    margin: 25px 0 10px 0;
  }

  .footer__list {
    flex-direction: column;
  }

  .list__title {
    margin-top: 30px;
    margin-bottom: 2px;
  }

  .list__container {
    width: 100%;
  }

  .sublist__icon {
    margin-top: 10px;
  }

  .footer__separator {
    display: none;
  }

  .footer__legal {
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
  }

  .footer__alan-insurancy,
  .footer__alan-website {
    width: 100%;
  }
}
/* END : footer */

/* START : login page */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(0deg, #EBF5FF 3.85%, #FFF3FC 100.01%);
}

.login__flux {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

.login__logo {
  width: 175px;
  margin-bottom: 40px;
  filter: brightness(0) saturate(100%) invert(9%) sepia(4%) saturate(3315%) hue-rotate(202deg) brightness(94%) contrast(82%);
}

.login__title {
  margin-bottom: 15px;
}

.login__register {
  margin-bottom: 30px;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login__container-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--color-anthracite);
  font-size: 14px;
  font-weight: 600;
}

.login__input {
  width: 100%;
  background: transparent;
  border: 1px solid #dbe2f4;
  border-radius: 50px;
  outline: none;
  padding: 12px 24px 12px 12px;
  margin: 3px 0 25px 0;
}

.login__container-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.login__remember {
  display: flex;
  color: var(--color-anthracite);
  font-size: 14px;
  font-weight: 600;
  accent-color: #fff;
}

.login__remember-check {
  margin-left: 10px;
}

.login__button {
  font-family: 'Raleway', sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  background-color: var(--color-purple);
  padding: 15px 18px;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  transition: all 0.12s ease-out 0s;
  color: #ffffff;
}

.login__button:hover {
  background-color: var(--color-darkpurple);
  scale: 1.03;
}
/* END : login page */